.container
  footer
    a(href="/").logo
      img(src="./dist/img/svg/logo.svg", alt="logo")
    .links-block
      a(href="") Линко V6.5
      a(href="") Линко V8.0
      a(href="") Линко V8.2
      a(href="") Линко V8.3
      a(href="") Sanako Study 1200
      a(href="") Sanako Lab 100
    .feedback
      a(href="") Обратная связь
  .copyright
    p © 
      span 
      | &nbsp; Linko