<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="/dist/img/favicon.ico" type="image/x-icon")
    link(rel="stylesheet", href="./dist/css/vendors/swiper.min.css")
    link(rel="stylesheet", href="./dist/css/style.css")
    title Linkab
    meta(description="description")
  body
    .container
      header
        .burger
        #nav-links.nav-links
          a(href="/product.html") Линко V6.5
          a(href="/product.html") Линко V8.0
          a(href="/product.html") Линко V8.2
          a(href="/product.html") Линко V8.3
          .container
            .feedback-mobile
              a(href="") Обратная связь
        a(href="/").logo
          img(src="./dist/img/svg/logo.svg", alt="logo")
        .links-block
          a(href="/product.html") Линко V6.5
          a(href="/product.html") Линко V8.0
          a(href="/product.html") Линко V8.2
          a(href="/product.html") Линко V8.3
        .feedback
          a(href="") Обратная связь