script(type="text/javascript" src="./dist/js/vendors/jQuery.js")
script(type="text/javascript" src="./dist/js/vendors/swiper.min.js")
script(type="text/javascript" src="./dist/js/vendors/jquery.touchSwiper.min.js")
script(type="text/javascript" src="./dist/js/script.js")