include includes/header.pug
.container
  .main-block
    .left
      h2 Лингафонные кабинеты в компьютерном классе
      p Купить мультимедийный лингафонный 
        |
        br 
        | кабинет от 
        span 1950 руб.
      a.geen-button(href="#") Купить
    .right
  .statistics
    .students
      .icon
        img(src="./dist/img/svg/students.svg", alt="students")
      .text
        span.count 5 670
        p студентов
    .educational-programs
      .icon
        img(src="./dist/img/svg/educational-programs.svg", alt="educational-programs")
      .text
        span.count 123
        p образовательных программ
    .teachers
      .icon
        img(src="./dist/img/svg/teachers.svg", alt="teachers")
      .text
        span.count 110
        p преподавателя
    .languages
      .icon
        img(src="./dist/img/svg/languages.svg", alt="languages")
      .text
        span.count 18
        p языков
    .experience
      .icon
        img(src="./dist/img/svg/experience.svg", alt="experience")
      .text
        span.count 23
        p опыта работы
  .logos-slider.swiper-container
    .swiper-wrapper
      .swiper-slide
        img(src="./dist/img/png/2gis.png", alt="slide")
      .swiper-slide
        img(src="./dist/img/png/2gis.png", alt="slide")
      .swiper-slide
        img(src="./dist/img/png/2gis.png", alt="slide")
      .swiper-slide
        img(src="./dist/img/png/2gis.png", alt="slide")
      .swiper-slide
        img(src="./dist/img/png/2gis.png", alt="slide")
      .swiper-slide
        img(src="./dist/img/png/2gis.png", alt="slide")
      .swiper-slide
        img(src="./dist/img/png/2gis.png", alt="slide")
      .swiper-slide
        img(src="./dist/img/png/2gis.png", alt="slide")
  .pagination
    .slide-prev
    .slide-next
  .products
    h3 Продукты
    .products-items
      .product-v65
        span.version v6.5
        .text
          h5 ПО Линко V6.5
          p ПО, которое помогает применить на практике все возможности лингафонных кабинетов России! Для работы понадобятся компьютеры, локальная сеть, звуковыводящие устройства и микрофоны.
        .prise
          span 2300 рублей
          a(href="") Подробнее
      .product-v80
        span.version v8.0
        .text
          h5 ПО Линко v8.0
          p Идеальная программа для учителя иностранного языка и его учеников. Она преображает обыкновенный компьютерный класс, превращая его в универсальный кабинет для практического и эффективного обучения.
        .prise
          span 3100 рублей
          a(href="") Подробнее
      .product-v82
        span.version v8.2
        .text
          h5 ПО Линко v8.2
          p Принципиально новое ПО, которое предлагает превратить обыкновенный компьютерный класс в многофункциональный лингафонный кабинет, облегчающий работу учителей иностранного языка и пользу от уроков для студентов.
        .prise
          span 3700 рублей
          a(href="") Подробнее
      .product-v83
        span.version v8.3
        .text
          h5 ПО Линко v8.3
          p Новейшее ПО для превращения обычного компьютерного класса в  лингафонный кабинет. Работает на всех версиях ОС Windows, начиная с 2000, поддерживает операционную систему на 32 и 64 бит.
        .prise
          span 3700 рублей
          a(href="") Подробнее
  .buy-block
    img(src="./dist/img/png/mac.png", alt="mac")
    .text
      p Купить мультимедийный лингафонный кабинет от
      span 1950 рублей
    a.geen-button Купить
  .block-description
    p Хорошее знание иностранного языка – это отличная помощь в построении карьеры, в конкуренции на трудовом рынке и в преодолении языкового барьера. 
      |
      br 
      | Но образование без специализированного оборудования и профильных учебных материалов может растянуться на годы, тогда как компьютерные лингафонные классы помогут значительно сократить время обучения.
    img(src="./dist/img/png/hello.png", alt="hello")
  .language-laboratories
    h2 Плюсы лингафонных кабинетов
    p Вместе с нами изучение и преподавание иностранных языков станет ещё легче. 
      |
      br
      | Наши преимущества:
.pluses
    .plus
      img(src="./dist/img/svg/checkmark.svg", alt="checkmark")
      p Бесплатный пробный период
    .plus
      img(src="./dist/img/svg/checkmark.svg", alt="checkmark")
      p ПО для изучения иностранных языков для стран СНГ
    .plus
      img(src="./dist/img/svg/checkmark.svg", alt="checkmark")
      p Больше 20 лет на рынке
    .plus
      img(src="./dist/img/svg/checkmark.svg", alt="checkmark")
      p Доступная цена
    .plus
      img(src="./dist/img/svg/checkmark.svg", alt="checkmark")
      p ПО для создания лингафонного кабинета в стандартном компьютерном классе
.container
  .language-laboratories
    p Пользоваться таким ПО очень легко и удобно. Звукотехническое, проекционное оборудование помогает
      |
      br
      | создать идеальные условия для обучения.
  .language-class
    h2 Лингафонный класс – идеальный способ улучшения 
      | 
      br
      | языковой компетентности
    .language-description
      p Важное требование для приёма на работу у множества больших компаний, не обращая внимания на профессию, отличное знание иных языков кроме родного. И запросы работодателей продолжают расти. 
        |
        br 
        | За рубежом знание иностранных языков – важнейший фактор деловой коммуникации для людей разной национальности.
        br
        | Притом важно отметить, что классические способы изучения других языков уже давно не актуальны – они устарели и перестали быть эффективными. Они дают базу, но не предлагают глубокие знания, которые и необходимы человеку на трудовом рынке и в суровой конкурентной обстановке. 
        br
        | Поэтому важнейшим инструментом для освоения новых языков стало мультимедиа, которое решило проблему эффективного и быстрого обучения, затребовав для этого лишь несколько компьютеров, собранных внутри одной локально сети. Лингафонное оборудование заслуженное занимает верхнюю строчку в рейтинге программного обеспечения.
      img(src="./dist/img/png/language_1.png", alt="language_1")
      img(src="./dist/img/png/language_2.png", alt="language_2")
      p Наша компания поставляет современное ПО, курсы, предлагает простое обучение иностранным языкам. На уроках в лингафонных кабинетах вы легко найдёте интересные методики обучения, которые разительно отличаются от классических – как минимум, возможность общаться на разговорном и деловом языке с носителями.
        |
        br
        | Вы не только улучшите свои навыки, чтение и понимание текстов, произношение и артикуляцию, но и узнаете много нового о чужой культуре через аудио, видео и десятки различных обучающих материалов.
        br
        | За небольшие деньги покупатели приобретают современный лингафонный кабинет и множество высококачественных программ, курсов и методик для изучения других языков.


include includes/scripts.pug
include includes/footer.pug
  