include includes/header.pug
.container
  .product(style="background-image: url('./dist/img/jpg/orange-product.jpg')")
    span.version v6.5
    h5 ПО Линко V6.5
    a(href="") Купить
  .product-text
    .text-image
      p Линко V 6.5 – ПО, которое помогает применить на практике все возможности лингафонных кабинетов России! Для работы понадобятся компьютеры, локальная сеть, звуковыводящие устройства и микрофоны.
        |
        br
        | ПО этой версии с помощью многообразия инструментов помогает учителю быстро и эффективно управлять обучением иностранным языкам. Например, Линко V 6.5 разрешает создавать трансляции на каждый компьютер ученика, демонстрировать видео или включать и записывать аудио.
      .image
        img(src="./dist/img/jpg/product-image1.jpg", alt="product-image1")

    h2 Линко V6.5 – лёгкая в управлении и доступная программа для обучения новым языкам
    p Каждый учитель мечтает контролировать работу класса, анализировать и комментировать ответы, делегировать часть задач, не сходя с рабочего места. Лингафонный кабинет открывает такую возможность.
      |
      br
      | ПО Линко просто освоить, оно обеспечивает бесперебойный доступ к эффективным тестам, аудированию, задачам для учеников, и это при том, что для установки не требуется особых настроек или подключения любых других программ.
      br
      | Перед учителем открываются широкие возможности для преподавания, студенты же получают очень функциональный практический курс изучения иностранного языка. Линко V 6.5 без проблем установится на уже имеющемся в учебном заведении оборудовании компьютерного класса.
      br
      | ПО превращает ПК в портативный кабинет с широкой сетью возможностей для преподавателей и учащихся.
      br
      | Так, учитель с помощью этого ПО способен давать задачу разным по количеству участников группам, просмотреть работу отдельно у каждого и объединить студентов в диалог друг с другом, чтобы они исправляли ошибки, не отрываясь от процесса коммуникации. И это только один пример того, как можно применять возможности программного обеспечения.
    h2 Как зарегистрировать и установить лингафонное ПО Линко V6.5?
    .text-image
      .image
        img(src="./dist/img/jpg/product-image2.jpg", alt="product-image2")
      p ПО можно получить в виде онлайн-лицензии, загружаемой с сайта, либо заказать доставку CD-диска. Во втором случае кроме самого программного обеспечения у вас будет лицензия и учебное пособие. Если вы хотите протестировать возможности ПО, скачайте ознакомительный вариант на 5 компьютеров.
        |
        br
        | Приобрести ПО для обучения речевой деятельности просто: оставьте заявку с помощью почты или факса.
        br
        | Когда ПО будет куплено, останется только зарегистрировать полученный продукт в интернете или по номеру телефона.

include includes/scripts.pug
include includes/footer.pug