@media (max-device-width: 768px)
  .product
    > *
      margin-left: 20px
    span.version
      right: 33px
      font-size: 85px
      margin-top: 20px
      line-height: 103.2%
      letter-spacing: -0.04em
    h5
      padding-top: 126px
      font-size: 24px
      line-height: 103.2%
    a
      margin-top: 17px
      font-size: 16px
      line-height: 19px

  .product-text
    width: 100%
    .text-image
      grid-gap: 30px
      margin-top: 25px
      grid-template-columns: auto
      .image
        width: 100%
        height: auto